#type1 {
    text-align : center;
    color: sandybrown;
}
h1 {
    text-align : center;
    color: aqua;
}
h2 {
    text-align : left;
    color: rgb(206, 206, 100);
}
h3 {
    text-align : left;
    color: rgb(14, 61, 249);
}